In [1]:
%matplotlib inline
import pandas as pd

import numpy as np

from sklearn.model_selection import train_test_split
from sklearn import model_selection, metrics
from sklearn import preprocessing
from sklearn.utils import shuffle
from sklearn.preprocessing import StandardScaler

import matplotlib
import matplotlib.pyplot as plt

### Changing Directory to Desktop Where The Dataset is Located

In [2]:
import os
os.chdir('C:\\Users\\julie\\Desktop')

### Reading From the CSV Files Provided From The Dataset

In [3]:
csv_filename01="./Dataset/a1_raw.csv"
csv_filename02="./Dataset/a1_va3.csv"
csv_filename03="./Dataset/a2_raw.csv"
csv_filename04="./Dataset/a2_va3.csv"
csv_filename05="./Dataset/a3_raw.csv"
csv_filename06="./Dataset/a3_va3.csv"

csv_filename07="./Dataset/b1_raw.csv"
csv_filename08="./Dataset/b1_va3.csv"
csv_filename09="./Dataset/b3_raw.csv"
csv_filename10="./Dataset/b3_va3.csv"

csv_filename11="./Dataset/c1_raw.csv"
csv_filename12="./Dataset/c1_va3.csv"
csv_filename13="./Dataset/c3_raw.csv"
csv_filename14="./Dataset/c3_va3.csv"


df1=pd.read_csv("./Dataset/a1_raw.csv")
df2=pd.read_csv("./Dataset/a1_va3.csv")
df3=pd.read_csv("./Dataset/a2_raw.csv" , skiprows=[1,2,3,4])
df4=pd.read_csv("./Dataset/a2_va3.csv")
df5=pd.read_csv("./Dataset/a3_raw.csv" , skiprows=[1,2,3,4])
df6=pd.read_csv("./Dataset/a3_va3.csv")
df7=pd.read_csv("./Dataset/b1_raw.csv" , skiprows=[1,2,3,4])
df8=pd.read_csv("./Dataset/b1_va3.csv")
df9=pd.read_csv("./Dataset/b3_raw.csv" , skiprows=[1,2,3,4])
df10=pd.read_csv(csv_filename10)
df11=pd.read_csv(csv_filename11 , skiprows=[1,2,3,4])
df12=pd.read_csv(csv_filename12)
df13=pd.read_csv(csv_filename13 , skiprows=[1,2,3,4])
df14=pd.read_csv(csv_filename14)

### Removing the timestamp and The Phase From The Unprocessed data

In [4]:
df1.drop('timestamp',axis=1,inplace=True)
df1.drop('phase',axis=1,inplace=True)
df3.drop('timestamp',axis=1,inplace=True)
df3.drop('phase',axis=1,inplace=True)
df5.drop('timestamp',axis=1,inplace=True)
df5.drop('phase',axis=1,inplace=True)
df7.drop('timestamp',axis=1,inplace=True)
df7.drop('phase',axis=1,inplace=True)
df9.drop('timestamp',axis=1,inplace=True)
df9.drop('phase',axis=1,inplace=True)
df11.drop('timestamp',axis=1,inplace=True)
df11.drop('phase',axis=1,inplace=True)
df13.drop('timestamp',axis=1,inplace=True)
df13.drop('phase',axis=1,inplace=True)

### Visualising some of the data

In [5]:
df1.head()

,lhx,lhy,lhz,rhx,rhy,rhz,hx,hy,hz,sx,sy,sz,lwx,lwy,lwz,rwx,rwy,rwz
0,5.347435,4.363681,1.501913,5.258967,4.319263,1.488703,5.037871,1.618295,1.778350,5.062803,4.229656,1.772577,4.972902,4.301065,1.564781,5.553945,4.370456,1.553521
1,4.869622,4.254210,1.556133,5.240113,4.346338,1.554309,5.037610,1.618370,1.778573,5.061430,4.228504,1.772859,4.974908,4.303656,1.565527,5.423875,4.303708,1.569942
2,5.357447,4.364039,1.500969,5.238928,4.347924,1.554150,5.037514,1.618298,1.778774,5.059245,4.228004,1.773568,4.981612,4.305363,1.563643,5.332170,4.438061,1.572841
3,4.942886,4.281878,1.546513,5.111436,4.229660,1.527091,5.037526,1.618612,1.778855,5.056475,4.226891,1.774519,4.987158,4.304063,1.565929,5.311104,4.396774,1.566368
4,5.003160,4.278530,1.542866,4.985812,4.182155,1.520330,5.037557,1.619226,1.778925,5.052367,4.225485,1.775536,4.983912,4.296833,1.569889,5.193762,4.335417,1.560144

In [6]:
df1.shape

(1747, 18)

In [7]:
df2.head()

,1,2,3,4,5,6,7,8,9,10,...,24,25,26,27,28,29,30,31,32,Phase
0,-0.005009,-0.000964,0.000573,0.008623,0.005667,0.001302,-0.000631,0.000130,-0.000048,0.007762,...,1.880800e-04,0.005133,0.010400,0.000646,0.007871,0.004631,0.000963,0.000092,0.000438,D
1,0.004905,0.001209,-0.000649,0.004737,0.003166,0.000819,-0.000572,-0.000015,0.000023,0.002706,...,-7.500000e-07,0.005093,0.005756,0.000573,0.003459,0.000730,0.000332,0.000012,0.000433,D
2,-0.002393,-0.000216,0.000136,0.003028,0.001212,0.000336,-0.000449,0.000017,0.000047,0.002868,...,-3.920000e-05,0.002406,0.003279,0.000452,0.003261,0.002412,0.000852,0.000042,0.000202,D
3,-0.001394,-0.000242,0.000056,0.001182,0.000575,0.000225,-0.000479,-0.000050,0.000104,0.001171,...,-3.184000e-05,0.001416,0.001334,0.000493,0.001358,0.000313,0.000611,0.000029,0.000596,D
4,-0.000156,-0.000004,0.000023,0.001585,0.000630,0.000094,-0.000303,0.000097,0.000065,0.001579,...,-2.015000e-05,0.000158,0.001709,0.000325,0.001713,0.000203,0.000069,0.000038,0.000069,D

In [8]:
df2.shape

(1743, 33)

In [9]:
df3.head()

,lhx,lhy,lhz,rhx,rhy,rhz,hx,hy,hz,sx,sy,sz,lwx,lwy,lwz,rwx,rwy,rwz
0,4.497225,5.598363,1.684676,6.932706,5.420004,1.648139,5.532781,1.472957,1.781428,5.581297,4.110899,1.776406,4.550096,5.212202,1.688152,6.621651,5.184755,1.650331
1,4.504442,5.563369,1.682441,6.984883,5.338807,1.662477,5.535068,1.473257,1.780948,5.581542,4.111409,1.776078,4.534203,5.175910,1.689498,6.619938,5.200892,1.661059
2,4.501790,5.587282,1.681250,6.936526,5.400179,1.650723,5.536529,1.473684,1.780335,5.581291,4.111289,1.775740,4.530342,5.199273,1.687336,6.613071,5.181889,1.651599
3,4.481035,5.558424,1.678168,6.935569,5.403949,1.650177,5.536117,1.472946,1.780279,5.581693,4.109772,1.775356,4.523950,5.174112,1.688738,6.613035,5.184223,1.651119
4,4.490471,5.547697,1.677370,6.954857,5.384894,1.654895,5.537160,1.473327,1.779768,5.582080,4.108705,1.775060,4.521791,5.162915,1.688910,6.594951,5.234004,1.653260

In [10]:
df3.shape

(1260, 18)

In [11]:
df1.columns

Index(['lhx', 'lhy', 'lhz', 'rhx', 'rhy', 'rhz', 'hx', 'hy', 'hz', 'sx', 'sy',
       'sz', 'lwx', 'lwy', 'lwz', 'rwx', 'rwy', 'rwz'],
      dtype='object')

### Renaming and Concatenating

In [12]:
df2.rename(columns={'Phase': 'phase'}, inplace=True)
df4.rename(columns={'Phase': 'phase'}, inplace=True)
df6.rename(columns={'Phase': 'phase'}, inplace=True)
df8.rename(columns={'Phase': 'phase'}, inplace=True)
df10.rename(columns={'Phase': 'phase'}, inplace=True)
df12.rename(columns={'Phase': 'phase'}, inplace=True)
df14.rename(columns={'Phase': 'phase'}, inplace=True)

In [13]:
p1 = pd.concat([df1,df2],axis=1)
p2 = pd.concat([df3,df4],axis=1)
p3 = pd.concat([df5,df6],axis=1)
p4 = pd.concat([df7,df8],axis=1)
p5 = pd.concat([df9,df10],axis=1)
p6 = pd.concat([df11,df12],axis=1)
p7 = pd.concat([df13,df14],axis=1)

In [14]:
df= pd.concat([p1,p2,p3,p4,p5,p6,p7])

In [15]:
### Encoding Phase Labels and Estimating number of instances of Differrent Label

In [16]:
df.phase.unique()

array(['D', 'P', 'S', 'H', 'R', nan], dtype=object)

In [17]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit_transform(['phase'])

array([0], dtype=int64)

In [18]:
df.groupby('phase').count()

,lhx,lhy,lhz,rhx,rhy,rhz,hx,hy,hz,sx,...,23,24,25,26,27,28,29,30,31,32
phase,,,,,,,,,,,,,,,,,,,,,
D,2741,2741,2741,2741,2741,2741,2741,2741,2741,2741,...,2741,2741,2741,2741,2741,2741,2741,2741,2741,2741
H,998,998,998,998,998,998,998,998,998,998,...,998,998,998,998,998,998,998,998,998,998
P,2097,2097,2097,2097,2097,2097,2097,2097,2097,2097,...,2097,2097,2097,2097,2097,2097,2097,2097,2097,2097
R,1087,1087,1087,1087,1087,1087,1087,1087,1087,1087,...,1087,1087,1087,1087,1087,1087,1087,1087,1087,1087
S,2950,2950,2950,2950,2950,2950,2950,2950,2950,2950,...,2950,2950,2950,2950,2950,2950,2950,2950,2950,2950

In [19]:
df.phase.unique()

array(['D', 'P', 'S', 'H', 'R', nan], dtype=object)

In [20]:
from sklearn import cluster
from sklearn import metrics

### Randomising the Data

In [21]:
df.head()

,lhx,lhy,lhz,rhx,rhy,rhz,hx,hy,hz,sx,...,24,25,26,27,28,29,30,31,32,phase
0,5.347435,4.363681,1.501913,5.258967,4.319263,1.488703,5.037871,1.618295,1.778350,5.062803,...,1.880800e-04,0.005133,0.010400,0.000646,0.007871,0.004631,0.000963,0.000092,0.000438,D
1,4.869622,4.254210,1.556133,5.240113,4.346338,1.554309,5.037610,1.618370,1.778573,5.061430,...,-7.500000e-07,0.005093,0.005756,0.000573,0.003459,0.000730,0.000332,0.000012,0.000433,D
2,5.357447,4.364039,1.500969,5.238928,4.347924,1.554150,5.037514,1.618298,1.778774,5.059245,...,-3.920000e-05,0.002406,0.003279,0.000452,0.003261,0.002412,0.000852,0.000042,0.000202,D
3,4.942886,4.281878,1.546513,5.111436,4.229660,1.527091,5.037526,1.618612,1.778855,5.056475,...,-3.184000e-05,0.001416,0.001334,0.000493,0.001358,0.000313,0.000611,0.000029,0.000596,D
4,5.003160,4.278530,1.542866,4.985812,4.182155,1.520330,5.037557,1.619226,1.778925,5.052367,...,-2.015000e-05,0.000158,0.001709,0.000325,0.001713,0.000203,0.000069,0.000038,0.000069,D

In [22]:
df = df.sample(frac=1)

In [23]:
df.head()

,lhx,lhy,lhz,rhx,rhy,rhz,hx,hy,hz,sx,...,24,25,26,27,28,29,30,31,32,phase
1218,4.764366,4.758107,1.527041,5.832255,1.695244,1.479312,4.864746,1.669860,1.754635,5.013498,...,0.000250,0.000773,0.004576,0.000918,0.002705,0.000130,0.000758,0.000116,0.000493,S
412,5.750206,3.663193,1.493584,5.832759,4.075145,1.600360,5.715355,1.520002,1.769995,5.838268,...,-0.000389,0.001522,0.007340,0.000972,0.004571,0.000572,0.004011,0.000557,0.002834,D
570,3.697440,5.640391,1.800318,5.261732,5.677705,1.857761,4.395389,1.797457,1.954728,4.434109,...,-0.000160,0.015865,0.012069,0.013105,0.008280,0.000405,0.000843,0.000160,0.001281,R
355,1.144446,5.617790,2.160238,4.465017,5.222818,2.083808,2.848526,1.301179,2.225544,2.700957,...,0.000029,0.007980,0.004956,0.007829,0.004007,0.002066,0.001224,0.001838,0.000865,P
240,2.483320,3.655350,2.180530,2.606304,3.749948,2.259225,2.403414,0.843032,2.398576,2.433630,...,-0.000001,0.000190,0.001285,0.000496,0.000593,0.000005,0.000063,0.000002,0.000002,D

### Extracting Features and Splitting The Data Into Train and Test

In [24]:
cols = list(df.columns)
features = cols
features.remove('phase')

In [25]:
len(features)

50

In [26]:
X = df[features]
y = df['phase']
X.shape

(9877, 50)

In [27]:
# split dataset to 60% training and 40% testing
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.4, random_state=0)

In [28]:
X_test.shape

(3951, 50)

### Filiing The nan Values By The Mean.

In [29]:
#Fliing the nan values by the mean.
X_test = X_test.fillna(X_test.mean())
X_train = X_train.fillna(X_train.mean())

### Normalization

In [30]:
X_train = StandardScaler().fit_transform(X_train)
X_test = StandardScaler().fit_transform(X_test)

In [31]:
print(X_train.shape, y_train.shape)

(5926, 50) (5926,)

### K Means Clustering

In [97]:
clf = cluster.KMeans(init='k-means++', n_clusters=3951, random_state=0)
clf.fit(X_train)
print(clf.labels_.shape)
print(clf.labels_)

(5926,)
[2982 2369  486 ... 3603  791  354]

In [98]:
# Predict clusters on testing data
y_pred = clf.predict(X_test)

In [99]:
y_pred.shape

(3951,)

In [100]:
y_test.shape

(3951,)

### Evaluation

In [101]:
print ("Adjusted rand score:{:.5}".format(metrics.adjusted_rand_score(y_test, y_pred)))
print ("Homogeneity score:{:.5} ".format(metrics.homogeneity_score(y_test, y_pred)))
print ("Completeness score: {:.5} ".format(metrics.completeness_score(y_test, y_pred)))

Adjusted rand score:0.0044599
Homogeneity score:0.86382
Completeness score: 0.18097