# HTRU2 Dataset

### Importing Necessary Libraries

In [1]:
import pandas as pd
from sklearn import model_selection, metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

### Changing Directory to Desktop where the dataset exists

In [2]:
import os
os.chdir('C:\\Users\\julie\\Desktop\\HTRU2')

### Reading The Data

In [3]:
data = 'HTRU_2.csv'

In [4]:
df = pd.read_csv(data)

In [5]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1:].values

### Visualizing the Data

In [6]:
df.head()

,140.5625,55.68378214,-0.234571412,-0.699648398,3.199832776,19.11042633,7.975531794,74.24222492,0
0,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
1,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
2,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
3,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0
4,93.570312,46.698114,0.531905,0.416721,1.636288,14.545074,10.621748,131.394004,0

In [7]:
from sklearn import cluster
from sklearn import metrics

### Randomizing the data

In [8]:
df = df.sample(frac=1)

In [9]:
df.head()

,140.5625,55.68378214,-0.234571412,-0.699648398,3.199832776,19.11042633,7.975531794,74.24222492,0
14661,123.554688,49.529317,0.176383,-0.166150,0.795151,12.568967,17.447960,316.437639,0
6943,111.734375,57.724627,0.178544,-0.620596,5.745819,28.402046,5.737870,33.985135,0
12652,116.531250,51.140269,-0.001220,-0.184189,4.510870,26.599514,6.634989,45.362390,0
13141,88.757812,39.842806,1.360359,3.582435,1.853679,12.175054,11.751087,187.359710,0
13021,129.937500,44.412264,-0.197245,0.419745,3.835284,21.445165,7.037154,54.930165,0

### Normalizing and Splitting The Data Into Test and Train

In [10]:
normalizer = StandardScaler()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, stratify=y, random_state=42)
X_train = normalizer.fit_transform(X_train)
X_test = normalizer.transform(X_test)

### Clustering and Predicting

In [11]:
clf = cluster.KMeans(init='k-means++', n_clusters=2, random_state=0)
clf.fit(X_train)
print(clf.labels_.shape)
print(clf.labels_)

(14317,)
[1 1 0 ... 1 1 0]

In [12]:
y_pred = clf.predict(X_test)

In [13]:
y_pred.shape

(3580,)

### Fixing The Shape of y_test to Avoid Errors

In [14]:
y_test.shape

(3580, 1)

In [15]:
y_test.shape=(3580,)

### Evaluating of The Clustering

In [16]:
print ("Adjusted rand score:{:.5}".format(metrics.adjusted_rand_score(y_test, y_pred)))
print ("Homogeneity score:{:.5} ".format(metrics.homogeneity_score(y_test, y_pred)))
print ("Completeness score: {:.5} ".format(metrics.completeness_score(y_test, y_pred)))

Adjusted rand score:0.61085
Homogeneity score:0.45636
Completeness score: 0.38011